.header {
  font-family: 'Slabo 27px', serif;
  padding: 20px 20px;
  background: #FAFAFA;
  position: fixed;
  z-index: +999;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #DDD;
}

.header > .logo {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 2.5em;
  color: #3FC380;
  width: 200;
  margin: 10px auto;
  text-decoration: none;
  float: left;
}

.header > .logo:hover {
  color: #3FC380;
}

.search {
  width: 60%;
  overflow: hidden;
  float:left;
}

.search input[type=text] {
  font-family: 'Slabo 27px', serif;
  padding: 10px 20px;
  border: 1px solid #DDD;
  border-radius: 20px;
  outline: 0;
  width: 100%;
  font-size: 1.2em;
}

.search input[type=text]:hover {
  border: 1px solid #3FC380;
}

.search input[type=submit] {
  padding:13px 20px;
  background: #59ABE3;
  color: #FFFFFF;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  margin: -3px 10px;
  border-radius:5px;
  outline:0;
  cursor:pointer;
}

.nav {
  color:#FFFFFF;
  float:right;
  margin-right: 30px;
}

.nav ul {
    list-style: none;
}

.nav ul li{
  float:left;
  padding:10px 10px;
  border-left: 1px solid rgba(255,255,255, .2);
  color: #FFFFFF;
  text-decoration: none;
}

.notifLabel {
  padding:1px 5px;
  color: #FFFFFF;
  background: #EB9532;
  border-radius: 5;
}
