.textFadet
{
  color:#aaa !important;
}

input[type="text"] {
  outline: #3FC380 !important;
}

.content {
  width: calc(100% - 250px);
  padding: 10px 30px 10px 30px;
  position: fixed;
  right: 0;
}
